/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Rock+Salt&display=swap');

:root {
  /* Color Palette */
  --primary-color: #073b3a;
  --secondary-color: #0b6e4f;
  --accent1-color: #08a045;
  --accent2-color: white;

  /* Fonts */
  --heading-font: "Rock Salt", cursive;
  --paragraph-font: "Montserrat", sans-serif;

  /* Text & Background Colors */
  --headline-color-on-white: #073b3a;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #073b3a;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #0b6e4f;
  --nav-link-color: white;
  --nav-background-color: #08a045;
  --nav-hover-link-color: #08a045;
  --nav-hover-background-color: #073b3a;
}

/* General Styles */
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  font-family: var(--paragraph-font);
}

/* Images */
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

h2 {
  text-align: center;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--paragraph-background-color);
  padding: 1em;
}

#logo_link {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
  background-color: var(--nav-background-color);
  line-height: 3em;
  font-size: 1.2em;
}

nav a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* Footer */
footer {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 1.2em;
}

footer a {
  color: var(--accent2-color);
  text-decoration: none;
}

footer a:hover {
  background-color: var(--accent1-color);
  color: var(--nav-hover-background-color);
}

footer .social img {
  width: 40px;
  margin: 0 10px;
}